<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa fa-star text-warning"></i>
            COMP2139 GBC Project Management – Taharim Haque
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">
                        <i class="fa fa-address-card"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="ProjectManagement"
                       asp-controller="Projects"
                       asp-action="Index">
                        <i class="fa fa-diagram-project"></i> Projects
                    </a>
                </li>
            </ul>
            <form class="d-flex ms-3"
                  asp-area=""
                  asp-controller="Home"
                  asp-action="Search"
                  method="get">
                <input class="form-control me-2" type="search" name="searchTerm" placeholder="Search..." aria-label="Search" />
                <select class="form-select me-2" name="searchType">
                    <option value="">Select Search Type</option>
                    <option value="Project">Project</option>
                    <option value="Task">Task</option>
                </select>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>
    </div>
</nav>
