name: Build and deploy ASP.NET Core app to Azure Web App - COMP2139Assign2

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read # required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore
        working-directory: EventTickets

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: EventTickets

      - name: Publish
        run: dotnet publish -c Release -o ./publish
        working-directory: EventTickets

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: EventTickets/publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write   # required for requesting the JWT
      contents: read    # required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1454D50A85B548738446AE72409A2BD0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D9B27036994E48D58C6EDD85416BB9A3 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5374114D783A4EB3A81830FFF0DF0CBC }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'COMP2139Assign2'
          slot-name: 'Production'
          package: .
